@using GymApp.GymApp.Application.DTO
@{
    Layout = "_Layout";
}

@model GetTrainersDTO 


<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>
                    Name 
                </th>
                <th>
                    Description 
                </th>
                <th>
                    Start Date 
                </th>
                <th>
                    Duration(in minutes) 
                </th>
                <th>
                    Trainer 
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var training in Model.Trainings)
            {
                <tr>
                    <td data-lable="Name">
                        @training.Name
                    </td>
                    <td data-lable="Description">
                        @training.Description
                    </td>
                    <td data-lable="Start Date">
                        @training.StartDate
                    </td>
                    <td data-lable="Duration">
                        @training.Duration
                    </td>
                    <td data-lable="Trainer">
                        @training.Trainer.FirstName @training.Trainer.LastName
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="buttons-container">
                                <a asp-controller="Trainings" asp-action="DeleteTraining" asp-route-id="@training.Id" class="btn-delete">Delete</a>
                                <a asp-controller="Trainings" asp-action="EditTrainings" asp-route-TrainingId="@training.Id" class="btn-edit">Edit</a>
                            </div>
                        }
                        @if (User.IsInRole("User"))
                        {
                            <div class="buttons-container">
                                <a asp-controller="Reservation" asp-action="CreateReservation" asp-route-TrainingId="@training.Id" class="btn-sub">Sign up</a>
                            </div>
                        }
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>